ul{
    padding: 0;
    list-style-type: none;
}
.list-element{
    min-width: 200px;
}
#lists-area *{
    font-size: 20px;
}
.new-card-button{
    bottom: 0;
}
.placeholder-card {
     height: 1.5em; line-height: 1.2em;
 }
.placeholder-list {
    width: 11em; line-width: 10em;
}

.onboard-text {
    color: #FFF1D4;
}

/*------------------------ Register complete snackbar -----------------------------*/

#registrationSnackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 25%;
    font-size: 17px;
}

#registrationSnackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 25%; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 25%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 25%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 25%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* ---------------------------- Login failed snackbar --------------------------------------*/

#loginFailedSnackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 25%;
    font-size: 17px;
}

#loginFailedSnackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 25%; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 25%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 25%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 25%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.onboard-background {
    background: #E72552;
}

.onboard-board {
    background-color: #93827F;
}
